<server-profile>
  <radius>
    <entry name="NEOFFICE">
      <server>
        <entry name="NEOFFICE01">
          <secret>qwerty</secret>
          <port>1812</port>
          <ip-address>1.1.1.1</ip-address>
        </entry>
        <entry name="NEOFFICE02">
          <secret>ytrewq</secret>
          <port>1912</port>
          <ip-address>2.2.2.2</ip-address>
        </entry>
      </server>
      <protocol>PAP</protocol>
    </entry>
  </radius>
</server-profile>

